body{
    overflow-x: hidden;
}

.home-header {
height:100vh;
background-image: url("../images/head.jpg"); //CENTER NO-REPEAT
background-size: cover;
display:flex;
align-items: center;
text-align: center;
    .sub-headline{
        font-size: 5.5rem;
        color: #c59d5f;
        line-height: .4;
        letter-spacing: 2px;
        opacity:0;
        animation: showUp .5s forwards;
        animation-delay: .5s;
        .first-letter{
            text-transform: uppercase;
            font-size: 8rem;
        }
    }
    .headline {
        color: #fff;
        font-size: 4rem;
        font-weight: 900;
        letter-spacing: .5rem;
        animation: scale .5s forwards;
    }
    .headline-description{
        h5 {
            color: #fff;
            font-size: 1.4rem;
            text-transform: uppercase;
            // margin-bottom: 1.2rem;
            letter-spacing:3px;
        }
        .btn{
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .cta-btn {
            font-size: 1.2rem;
            background-color: #fff;
            padding: .9rem 1.8rem;
            transition: background-color .5s;
        }
        .cta-btn:hover,
        .cta-btn:focus{
            color:#fff;
            background-color: #c59d5f;
        }
        .separator{
            display: flex;
            align-items: center;
            justify-content: center;
                .line{
                    width:100%;
                    max-width: 8.5rem;
                    height: .25rem;
                    background-color: #fff;
                    position: relative; 
                    opacity: 0;
                    animation: grow 2s forwards;
                    animation-delay: .9s;
                }
                .line-right::before,
                .line-left::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 22px solid transparent;
                }
                .line-right::before{
                    border-right-color: #fff;
                    right:0;
                }
                .line-left::before {
                    border-left-color: #fff;
                    left: 0;
                }
                .asterisk{
                    font-size:1.2rem;
                    color:#c59d5f;
                    margin: 0 1.6rem;
                    opacity: 0;
                    animation: spin .5s forwards;
                    animation-delay: .7s;
                }
        }
        .single-animation{
            opacity:0;
            animation: showDown .5s forwards;
            animation-delay: 1.5s;
        }
    }
}

// Animations head

@keyframes showUp {
    0% {
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
} 

@keyframes showDown {
    0% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}



.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-inner img {
    width:100%;
    height:100vh;
}


// smooth scroll button 

html {
    scroll-behavior: smooth;
}

.demo a {
    position: absolute;
    bottom: 5%;
    left: 7%;
    z-index: 1;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#scroll-button a {
    padding-top: 4.5rem;
}

#scroll-button a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#scroll-button a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#scroll-button a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/// 

.bg1 {
    position: relative;
}

.bg1::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    left: 70%;
    background-color: #c59d5f;
}

.bg2 {
    position: relative;
}

.bg2::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    right: 70%;
    background-color: #c59d5f;
}

.container-hotel-info {
    position: relative;
}

.container-hotel-info::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 100%;
    right: 70%;
    background-color: #c59d5f;
}