
.room-header {
    position: relative;

    .room-head-bg {
        background-image: url("../images/roomsPicture.jpg");
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .room-title {
        position: absolute;
        top: 55%;
        left: 15%;
        color: white;
         h1 {
             letter-spacing: 2px;
             font-size: 3rem;
             margin-bottom: 1rem;
             font-weight: bold;
             text-decoration: overline;
         }
    }
}


// smooth scroll

#section04 a {
    padding-top: 60px;
}

#section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}


//room-list-item

.list-group-item {
border:none;
padding: 0;
margin: 4rem;
margin-bottom: 6rem;

    .room-details {
    padding: 0;
    height: auto;

        figure {
            margin: 0 auto;
        }
        .card-footer {
        background-color:white;
        width:80%;
        padding:0.5rem;
        display: flex;
        align-items: center;
        position: relative;
        bottom: 0;
        left: 0;
        transform: translate(0, -50%);
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .2);
            .card-price{
                font-size: 1.5rem;
                font-weight:700;
                width:25%;
                padding: 1rem;
                border-right: 0.01rem solid lightgrey;
            }
            .card-content{
                text-align:left;
                width: 45%;
                padding: 0.5rem;
                .room-name-headline {
                    font-size: 1.8rem;
                    margin-left: 1.2rem;
                }
                .card-content-details{
                    display:flex;
                    .card-content-details-more{
                    padding:0.2rem 1rem;
                    font-size: 1rem;
                    }
                }
                    img{
                    width:2rem;
                }
            }
            .btn{
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: .9rem 1.8rem;
                align-items: center;
            }
        }
    }   
}







@media (max-width: 991.98px) {
   
.card-footer{
    
    transform: translate(0, 0);
    width:100%;
    flex-wrap:wrap;
    justify-content: space-evenly;

    .card-price{
        text-align: center;
        padding:0;
        
        font-size: 1rem;
    }
    
    .card-content {

        font-size: 1rem;
        padding:0;
        text-align:center;

        .room-name-headline {
            font-size: 1.2rem;
            margin-left: 1.2rem;
            margin: 0;
        }

        .card-content-details-more {
            padding: 0.2rem 1rem;
            font-size: 0.5rem;
        }
        .card-content-details{
            
            justify-content: space-evenly;
        }
         img {
             width: 1.5rem;
         }
         
    }
    .btn {
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
}

.list-group-item {
    margin: 1rem;
}

}
